* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 16px 128px;
  max-width: 1600px;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.form {
  width: 45vw;
  max-width: 700px;
}

.resume {
  width: 45vw;
  max-width: 700px;
}

@media (max-width: 1200px) {
  #root {
    flex-direction: column;
    align-items: center;
    margin: 16px;
  }

  .resume,
  .form {
    width: 90vw;
  }
}
